
// No margins for the whole website
* {    
    margin: 0 !important;
    padding: 0 !important;
}
#App {
    background-color: honeydew;
}

header {
    position: absolute;
    display: block;
    width: 100vw;
  //  background-color: rgb(58, 49, 1);
    color: honeydew;
    height: 90px;

    .logo {
        position: absolute;
        top: 50%; left: 15px;
    }

    nav, nav ul, nav ul li {
      //  margin: 0;
      //  padding: 0;
    }

    nav {
        position: absolute;
        top: 50%; right: 25px; 

        ul li {
          //  list-style-type: none;
            display: inline-block;
            margin-right: 10px;

            
            &.last {
                margin: 0;
            }

            a {
                display: inline-block;
            }

            #Signin {
                font-size: 22px;
                line-height: normal;
                color: honeydew;
                text-decoration:none;
                padding: 60px;

            }
            #Signup {
                font-size: 22px;
                line-height: normal;
                background: honeydew;
                color: black;
                border-radius: 40px;
                text-decoration:none;
                padding: 60px;

            }

        }
    }

        
   
}
