
// No margins for the whole website
* {    
    margin: 0 !important;
    padding: 0 !important;
}
#App {
    background-color: honeydew;
}

header {
    position: absolute;
    display: block;
    width: 100vw;
  //  background-color: rgb(58, 49, 1);
    color: honeydew;
    height: 90px;

    .logo {
        position: absolute;
        top: 50%; left: 30px;
        font-size: 20px;
        background-color: honeydew;
        color: maroon;
    }

    .btn {
        position: absolute;
        top: 50%; right: 400px;
        background-color: honeydew;
        color:maroon;
        overflow: hidden;
        border: none; /* Remove borders */
        padding: 12px 16px; /* Some padding */
        font-size: 16px; /* Set a font size */
        cursor: pointer; /* Mouse pointer on hover */
        height: 30px; 
        width: 150px;
    }
    .btn:hover {
        background-color: #111;
    }

    .btn2 {
        position: absolute;
        top: 50%; right: 150px;
        background-color: honeydew;
        color:maroon;
        overflow: hidden;
        border: none; /* Remove borders */
        padding: 12px 16px; /* Some padding */
        font-size: 16px; /* Set a font size */
        cursor: pointer; /* Mouse pointer on hover */
        height: 30px; 
        width: 90px;
    }
    .btn2:hover {
        background-color: #111;
    }

    .btn3 {
        position: absolute;
        top: 50%; right: 50px;
        background-color: honeydew;
        color:maroon;
        overflow: hidden;
        border: none; /* Remove borders */
        padding: 12px 16px; /* Some padding */
        font-size: 16px; /* Set a font size */
        cursor: pointer; /* Mouse pointer on hover */
        height: 30px; 
        width: 90px;
    }
    .btn3:hover {
        background-color: #111;
    }
}