#main-body {
  //  background-color: hotpink;
 //   background: indigo;
    background-image: url(./pics/b2-resize.jpg);
    height: 461px;
    width: 1265px


}
#title {
    text-align:center;
    color: honeydew;
}

#middle_sec {
    background-color: honeydew;
    position: absolute;
    top: 50%;
    left: 45%;

    #middle {
        position: relative;
        color: maroon;
    }

  //  #Search {
//
  //  }
}


